<h3>Question: <%= @question.title %></h3>
<p>Tags: <% @question.tags.each do |tag| %>
    <%= tag.name %>
    <% end %> </p>
<p><%= @question.text %></p>
Asked by: <%= @question.user.name %><br>
<% if current_user && current_user.id == @question.user.id %>
  <%= link_to "Edit", edit_question_path %>
  <%= link_to "Delete", question_path, method: :delete, confirm: "Are you sure?"%>
<% end %><br>
<h3>Question Comments:</h3>
    <% @question.comments.each do |comment| %>
      <%= comment.text %>
      By: <%= comment.user.name %><br>
      <% end %>
<%= form_for(Comment.new) do |f| %>
      <%= f.hidden_field :commentable_id, :value => @question.id %>
      <%= f.hidden_field :commentable_type, :value => "Question" %>
      <%= f.label :text %><br>
      <%= f.text_area :text, :cols => "60", :rows => "2" %><br>
      <%= f.submit %>
    <% end %><br>



<% if @question.answers.empty? %>
  <h3>This question has not yet been answered.</h3>
<% else %>
  <h3>Answers:</h3>
  <% @question.answers.each do |answer| %>
    <%= answer.text %><br>
    Answered by: <%= link_to answer.user.name, user_path(answer.user) %><br>
    <h3>Answer Comments:</h3>
    <% answer.comments.each do |comment| %>
      <%= comment.text %>
      By: <%= comment.user.name %><br>
      <% end %>
    <% if answer.user == current_user %>
      <%= link_to "Edit", edit_question_answer_path(answer) %>
      <%= link_to "Delete", question_path, method: :delete, confirm: "Are you sure?"%><br>
    <% end %><br>
    <%= form_for(Comment.new) do |f| %>
      <%= f.hidden_field :commentable_id, :value => answer.id %>
      <%= f.hidden_field :commentable_type, :value => "Answer" %>
      <%= f.label :text %><br>
      <%= f.text_area :text, :cols => "60", :rows => "2" %><br>
      <%= f.submit %>
    <% end %>
  <% end %>
<% end %>
<br>

<% if current_user %>
  <%= link_to "Answer question", new_question_answer_path(@question) %>
<% end %>
