<p>hello <%= @user.name %></p>
<p><%= link_to "Post a Question", new_question_path %></p>
<p><%= link_to "See My Questions", user_questions_path(current_user.id) %></p>
<p><%= link_to "Edit Profile", edit_user_path(@user) %></p>
<p><%= link_to "Destroy Account", user_path(@user), method: :delete, confirm: "Are you sure?"%></p>
